/*CSS for Colors and Sizes*/

/*font colors*/
.color-neutral{color:#EEE !important;}
.color-white{color:#FFF !important;}
.color-yellow{color:#FFFF00 !important;}
.color-pink{color:#FFC0CB !important;}
.color-grey{color:#808080 !important;}
.color-gray{color:#808080 !important;}
.color-orange{color:#FFA500 !important;}
.color-blue{color:#0000FF !important;}
.color-green{color:#008000 !important;}
.color-purple{color:#800080 !important;}
.color-brown{color:#A52A2A !important;}
.color-clack{color:#000 !important;}
.color-red{color:#FF0000 !important;}
.color-Cyan{color:#00FFFF !important;}
.color-teal{color:#008080 !important;}
.color-AliceBlue{color:#F0F8FF !important;}
.color-AntiqueWhite{color:#FAEBD7 !important;}
.color-Aqua{color:#00FFFF !important;}
.color-Aquamarine{color:#7FFFD4 !important;}
.color-Azure{color:#F0FFFF !important;}
.color-ceige{color:#F5F5DC !important;}
.color-cisque{color:#FFE4C4 !important;}
.color-clanchedAlmond{color:#FFEBCD !important;}
.color-clueViolet{color:#8A2BE2 !important;}
.color-curlyWood{color:#DEB887 !important;}
.color-CadetBlue{color:#DEB887 !important;}
.color-Chartreuse{color:#7FFF00 !important;}
.color-Chocolate{color:#D2691E !important;}
.color-Coral{color:#FF7F50 !important;}
.color-CornflowerBlue{color:#6495ED !important;}
.color-Cornsilk{color:#FFF8DC !important;}
.color-Crimson{color:#DC143C !important;}
.color-darkBlue{color:#00008B !important;}
.color-darkCyan{color:#008B8B !important;}
.color-darkGoldenRod{color:#B8860B !important;}
.color-darkGray{color:#A9A9A9 !important;}
.color-darkGrey{color:#A9A9A9 !important;}
.color-darkGreen{color:#006400 !important;}
.color-darkKhaki{color:#BDB76B !important;}
.color-darkMagenta{color:#8B008B !important;}
.color-darkOliveGreen{color:#556B2F !important;}
.color-darkOrange{color:#FF8C00 !important;}
.color-darkOrchid{color:#9932CC !important;}
.color-darkRed{color:#8B0000 !important;}
.color-darkSalmon{color:#E9967A !important;}
.color-darkSeaGreen{color:#8FBC8F !important;}
.color-darkSlateBlue{color:#483D8B !important;}
.color-darkSlateGray{color:#2F4F4F !important;}
.color-darkSlateGrey{color:#2F4F4F !important;}
.color-darkTurquoise{color:#00CED1 !important;}
.color-darkViolet{color:#9400D3 !important;}
.color-deepPink{color:#FF1493 !important;}
.color-deepSkyBlue{color:#00BFFF !important;}
.color-dimGray{color:#696969 !important;}
.color-dimGrey{color:#696969 !important;}
.color-dodgerBlue{color:#1E90FF !important;}
.color-fireBrick{color:#B22222 !important;}
.color-floralWhite{color:#FFFAF0 !important;}
.color-forestGreen{color:#228B22 !important;}
.color-fuchsia{color:#FF00FF !important;}
.color-gainsboro{color:#DCDCDC !important;}
.color-ghostWhite{color:#F8F8FF !important;}
.color-gold{color:#FFD700 !important;}
.color-goldenRod{color:#DAA520 !important;}
.color-greenYellow{color:#ADFF2F !important;}
.color-honeyDew{color:#F0FFF0 !important;}
.color-hotPink{color:#FF69B4 !important;}
.color-indianRed{color:#CD5C5C !important;}
.color-indigo{color:#4B0082 !important;}
.color-ivory{color:#FFFFF0 !important;}
.color-khaki{color:#F0E68C !important;}
.color-lavender{color:#E6E6FA !important;}
.color-lavenderBlush{color:#FFF0F5 !important;}
.color-lawnGreen{color:#7CFC00 !important;}
.color-lemonChiffon{color:#FFFACD !important;}
.color-lightBlue{color:#ADD8E6 !important;}
.color-lightCoral{color:#F08080 !important;}
.color-lightCyan{color:#E0FFFF !important;}
.color-lightGoldenRodYellow{color:#FAFAD2 !important;}
.color-lightGray{color:#D3D3D3 !important;}
.color-lightGrey{color:#D3D3D3 !important;}
.color-lightGreen{color:#90EE90 !important;}
.color-lightPink{color:#FFB6C1 !important;}
.color-lightSalmon{color:#FFA07A !important;}
.color-lightSeaGreen{color:#20B2AA !important;}
.color-lightSkyBlue{color:#87CEFA !important;}
.color-lightSlateGray{color:#778899 !important;}
.color-lightSlateGrey{color:#778899 !important;}
.color-lightSteelBlue{color:#B0C4DE !important;}
.color-lightYellow{color:#FFFFE0 !important;}
.color-lime{color:#00FF00 !important;}
.color-limeGreen{color:#32CD32 !important;}
.color-linen{color:#FAF0E6 !important;}
.color-magenta{color:#FF00FF !important;}
.color-maroon{color:#800000 !important;}
.color-mediumAquaMarine{color:#66CDAA !important;}
.color-mediumBlue{color:#0000CD !important;}
.color-mediumOrchid{color:#BA55D3 !important;}
.color-mediumPurple{color:#9370DB !important;}
.color-mediumSeaGreen{color:#3CB371 !important;}
.color-mediumSlateBlue{color:#7B68EE !important;}
.color-mediumSlateBlue{color:#7B68EE !important;}
.color-mediumSpringGreen{color:#00FA9A !important;}
.color-mediumTurquoise{color:#48D1CC !important;}
.color-mediumVioletRed{color:#C71585 !important;}
.color-midnightBlue{color:#191970 !important;}
.color-mintCream{color:#F5FFFA !important;}
.color-mistyRose{color:#FFE4E1 !important;}
.color-moccasin{color:#FFE4B5 !important;}
.color-navajoWhite{color:#FFDEAD !important;}
.color-navy{color:#000080 !important;}
.color-oldLace{color:#FDF5E6 !important;}
.color-olive{color:#808000 !important;}
.color-oliveDrab{color:#6B8E23 !important;}
.color-orangeRed{color:#FF4500 !important;}
.color-orchid{color:#DA70D6 !important;}
.color-paleGoldenRod{color:#EEE8AA !important;}
.color-paleGreen{color:#98FB98 !important;}
.color-paleTurquoise{color:#AFEEEE !important;}
.color-paleVioletRed{color:#DB7093 !important;}
.color-papayaWhip{color:#FFEFD5 !important;}
.color-peachPuff{color:#FFDAB9 !important;}
.color-peru{color:#CD853F !important;}
.color-plum{color:#DDA0DD !important;}
.color-powderBlue{color:#B0E0E6 !important;}
.color-rosyBrown{color:#BC8F8F !important;}
.color-royalBlue{color:#4169E1 !important;}
.color-saddleBrown{color:#8B4513 !important;}
.color-salmon{color:#FA8072 !important;}
.color-sandyBrown{color:#F4A460 !important;}
.color-seaGreen{color:#2E8B57 !important;}
.color-seaShell{color:#FFF5EE !important;}
.color-sienna{color:#A0522D !important;}
.color-silver{color:#C0C0C0 !important;}
.color-skyBlue{color:#87CEEB !important;}
.color-slateBlue{color:#6A5ACD !important;}
.color-slateGray{color:#708090 !important;}
.color-slateGrey{color:#708090 !important;}
.color-snow{color:#FFFAFA !important;}
.color-springGreen{color:#00FF7F !important;}
.color-steelBlue{color:#4682B4 !important;}
.color-tan{color:#D2B48C !important;}
.color-thistle{color:#D8BFD8 !important;}
.color-tomato{color:#FF6347 !important;}
.color-turquoise{color:#40E0D0 !important;}
.color-violet{color:#EE82EE !important;}
.color-wheat{color:#F5DEB3 !important;}
.color-whiteSmoke{color:#F5F5F5 !important;}
.color-yellowGreen{color:#9ACD32 !important;}

/*background colors*/
.bgColor-neutral{background-color:#EEE !important;}
.bgColor-white{background-color:#FFF !important;}
.bgColor-yellow{background-color:#FFFF00 !important;}
.bgColor-pink{background-color:#FFC0CB !important;}
.bgColor-grey{background-color:#808080 !important;}
.bgColor-gray{background-color:#808080 !important;}
.bgColor-orange{background-color:#FFA500 !important;}
.bgColor-blue{background-color:#0000FF !important;}
.bgColor-green{background-color:#008000 !important;}
.bgColor-purple{background-color:#800080 !important;}
.bgColor-brown{background-color:#A52A2A !important;}
.bgColor-clack{background-color:#000 !important;}
.bgColor-red{background-color:#FF0000 !important;}
.bgColor-Cyan{background-color:#00FFFF !important;}
.bgColor-teal{background-color:#008080 !important;}
.bgColor-AliceBlue{background-color:#F0F8FF !important;}
.bgColor-AntiqueWhite{background-color:#FAEBD7 !important;}
.bgColor-Aqua{background-color:#00FFFF !important;}
.bgColor-Aquamarine{background-color:#7FFFD4 !important;}
.bgColor-Azure{background-color:#F0FFFF !important;}
.bgColor-ceige{background-color:#F5F5DC !important;}
.bgColor-cisque{background-color:#FFE4C4 !important;}
.bgColor-clanchedAlmond{background-color:#FFEBCD !important;}
.bgColor-clueViolet{background-color:#8A2BE2 !important;}
.bgColor-curlyWood{background-color:#DEB887 !important;}
.bgColor-CadetBlue{background-color:#DEB887 !important;}
.bgColor-Chartreuse{background-color:#7FFF00 !important;}
.bgColor-Chocolate{background-color:#D2691E !important;}
.bgColor-Coral{background-color:#FF7F50 !important;}
.bgColor-CornflowerBlue{background-color:#6495ED !important;}
.bgColor-Cornsilk{background-color:#FFF8DC !important;}
.bgColor-Crimson{background-color:#DC143C !important;}
.bgColor-darkBlue{background-color:#00008B !important;}
.bgColor-darkCyan{background-color:#008B8B !important;}
.bgColor-darkGoldenRod{background-color:#B8860B !important;}
.bgColor-darkGray{background-color:#A9A9A9 !important;}
.bgColor-darkGrey{background-color:#A9A9A9 !important;}
.bgColor-darkGreen{background-color:#006400 !important;}
.bgColor-darkKhaki{background-color:#BDB76B !important;}
.bgColor-darkMagenta{background-color:#8B008B !important;}
.bgColor-darkOliveGreen{background-color:#556B2F !important;}
.bgColor-darkOrange{background-color:#FF8C00 !important;}
.bgColor-darkOrchid{background-color:#9932CC !important;}
.bgColor-darkRed{background-color:#8B0000 !important;}
.bgColor-darkSalmon{background-color:#E9967A !important;}
.bgColor-darkSeaGreen{background-color:#8FBC8F !important;}
.bgColor-darkSlateBlue{background-color:#483D8B !important;}
.bgColor-darkSlateGray{background-color:#2F4F4F !important;}
.bgColor-darkSlateGrey{background-color:#2F4F4F !important;}
.bgColor-darkTurquoise{background-color:#00CED1 !important;}
.bgColor-darkViolet{background-color:#9400D3 !important;}
.bgColor-deepPink{background-color:#FF1493 !important;}
.bgColor-deepSkyBlue{background-color:#00BFFF !important;}
.bgColor-dimGray{background-color:#696969 !important;}
.bgColor-dimGrey{background-color:#696969 !important;}
.bgColor-dodgerBlue{background-color:#1E90FF !important;}
.bgColor-fireBrick{background-color:#B22222 !important;}
.bgColor-floralWhite{background-color:#FFFAF0 !important;}
.bgColor-forestGreen{background-color:#228B22 !important;}
.bgColor-fuchsia{background-color:#FF00FF !important;}
.bgColor-gainsboro{background-color:#DCDCDC !important;}
.bgColor-ghostWhite{background-color:#F8F8FF !important;}
.bgColor-gold{background-color:#FFD700 !important;}
.bgColor-goldenRod{background-color:#DAA520 !important;}
.bgColor-greenYellow{background-color:#ADFF2F !important;}
.bgColor-honeyDew{background-color:#F0FFF0 !important;}
.bgColor-hotPink{background-color:#FF69B4 !important;}
.bgColor-indianRed{background-color:#CD5C5C !important;}
.bgColor-indigo{background-color:#4B0082 !important;}
.bgColor-ivory{background-color:#FFFFF0 !important;}
.bgColor-khaki{background-color:#F0E68C !important;}
.bgColor-lavender{background-color:#E6E6FA !important;}
.bgColor-lavenderBlush{background-color:#FFF0F5 !important;}
.bgColor-lawnGreen{background-color:#7CFC00 !important;}
.bgColor-lemonChiffon{background-color:#FFFACD !important;}
.bgColor-lightBlue{background-color:#ADD8E6 !important;}
.bgColor-lightCoral{background-color:#F08080 !important;}
.bgColor-lightCyan{background-color:#E0FFFF !important;}
.bgColor-lightGoldenRodYellow{background-color:#FAFAD2 !important;}
.bgColor-lightGray{background-color:#D3D3D3 !important;}
.bgColor-lightGrey{background-color:#D3D3D3 !important;}
.bgColor-lightGreen{background-color:#90EE90 !important;}
.bgColor-lightPink{background-color:#FFB6C1 !important;}
.bgColor-lightSalmon{background-color:#FFA07A !important;}
.bgColor-lightSeaGreen{background-color:#20B2AA !important;}
.bgColor-lightSkyBlue{background-color:#87CEFA !important;}
.bgColor-lightSlateGray{background-color:#778899 !important;}
.bgColor-lightSlateGrey{background-color:#778899 !important;}
.bgColor-lightSteelBlue{background-color:#B0C4DE !important;}
.bgColor-lightYellow{background-color:#FFFFE0 !important;}
.bgColor-lime{background-color:#00FF00 !important;}
.bgColor-limeGreen{background-color:#32CD32 !important;}
.bgColor-linen{background-color:#FAF0E6 !important;}
.bgColor-magenta{background-color:#FF00FF !important;}
.bgColor-maroon{background-color:#800000 !important;}
.bgColor-mediumAquaMarine{background-color:#66CDAA !important;}
.bgColor-mediumBlue{background-color:#0000CD !important;}
.bgColor-mediumOrchid{background-color:#BA55D3 !important;}
.bgColor-mediumPurple{background-color:#9370DB !important;}
.bgColor-mediumSeaGreen{background-color:#3CB371 !important;}
.bgColor-mediumSlateBlue{background-color:#7B68EE !important;}
.bgColor-mediumSlateBlue{background-color:#7B68EE !important;}
.bgColor-mediumSpringGreen{background-color:#00FA9A !important;}
.bgColor-mediumTurquoise{background-color:#48D1CC !important;}
.bgColor-mediumVioletRed{background-color:#C71585 !important;}
.bgColor-midnightBlue{background-color:#191970 !important;}
.bgColor-mintCream{background-color:#F5FFFA !important;}
.bgColor-mistyRose{background-color:#FFE4E1 !important;}
.bgColor-moccasin{background-color:#FFE4B5 !important;}
.bgColor-navajoWhite{background-color:#FFDEAD !important;}
.bgColor-navy{background-color:#000080 !important;}
.bgColor-oldLace{background-color:#FDF5E6 !important;}
.bgColor-olive{background-color:#808000 !important;}
.bgColor-oliveDrab{background-color:#6B8E23 !important;}
.bgColor-orangeRed{background-color:#FF4500 !important;}
.bgColor-orchid{background-color:#DA70D6 !important;}
.bgColor-paleGoldenRod{background-color:#EEE8AA !important;}
.bgColor-paleGreen{background-color:#98FB98 !important;}
.bgColor-paleTurquoise{background-color:#AFEEEE !important;}
.bgColor-paleVioletRed{background-color:#DB7093 !important;}
.bgColor-papayaWhip{background-color:#FFEFD5 !important;}
.bgColor-peachPuff{background-color:#FFDAB9 !important;}
.bgColor-peru{background-color:#CD853F !important;}
.bgColor-plum{background-color:#DDA0DD !important;}
.bgColor-powderBlue{background-color:#B0E0E6 !important;}
.bgColor-rosyBrown{background-color:#BC8F8F !important;}
.bgColor-royalBlue{background-color:#4169E1 !important;}
.bgColor-saddleBrown{background-color:#8B4513 !important;}
.bgColor-salmon{background-color:#FA8072 !important;}
.bgColor-sandyBrown{background-color:#F4A460 !important;}
.bgColor-seaGreen{background-color:#2E8B57 !important;}
.bgColor-seaShell{background-color:#FFF5EE !important;}
.bgColor-sienna{background-color:#A0522D !important;}
.bgColor-silver{background-color:#C0C0C0 !important;}
.bgColor-skyBlue{background-color:#87CEEB !important;}
.bgColor-slateBlue{background-color:#6A5ACD !important;}
.bgColor-slateGray{background-color:#708090 !important;}
.bgColor-slateGrey{background-color:#708090 !important;}
.bgColor-snow{background-color:#FFFAFA !important;}
.bgColor-springGreen{background-color:#00FF7F !important;}
.bgColor-steelBlue{background-color:#4682B4 !important;}
.bgColor-tan{background-color:#D2B48C !important;}
.bgColor-thistle{background-color:#D8BFD8 !important;}
.bgColor-tomato{background-color:#FF6347 !important;}
.bgColor-turquoise{background-color:#40E0D0 !important;}
.bgColor-violet{background-color:#EE82EE !important;}
.bgColor-wheat{background-color:#F5DEB3 !important;}
.bgColor-whiteSmoke{background-color:#F5F5F5 !important;}
.bgColor-yellowGreen{background-color:#9ACD32 !important;}

/*font sizes*/
.size-100{font-size:100% !important;}
.size-110{font-size:110% !important;}
.size-120{font-size:120% !important;}
.size-130{font-size:130% !important;}
.size-140{font-size:140% !important;}
.size-150{font-size:150% !important;}
.size-160{font-size:160% !important;}
.size-170{font-size:170% !important;}
.size-180{font-size:180% !important;}
.size-190{font-size:190% !important;}
.size-200{font-size:200% !important;}

.size-210{font-size:210% !important;}
.size-220{font-size:220% !important;}
.size-230{font-size:230% !important;}
.size-240{font-size:240% !important;}
.size-250{font-size:250% !important;}
.size-260{font-size:260% !important;}
.size-270{font-size:270% !important;}
.size-280{font-size:280% !important;}
.size-290{font-size:290% !important;}
.size-300{font-size:300% !important;}

.size-310{font-size:310% !important;}
.size-320{font-size:320% !important;}
.size-330{font-size:330% !important;}
.size-340{font-size:340% !important;}
.size-350{font-size:350% !important;}
.size-360{font-size:360% !important;}
.size-370{font-size:370% !important;}
.size-380{font-size:380% !important;}
.size-390{font-size:390% !important;}
.size-400{font-size:400% !important;}

.size-410{font-size:410% !important;}
.size-420{font-size:420% !important;}
.size-430{font-size:430% !important;}
.size-440{font-size:440% !important;}
.size-450{font-size:450% !important;}
.size-460{font-size:460% !important;}
.size-470{font-size:470% !important;}
.size-480{font-size:480% !important;}
.size-490{font-size:490% !important;}
.size-500{font-size:500% !important;}
.size-600{font-size:600% !important;}
.size-700{font-size:700% !important;}
.size-800{font-size:800% !important;}
.size-900{font-size:900% !important;}
.size-1000{font-size:1000% !important;}
