/* 
    Document   : style
    Created on : Jul 13, 2013, 12:02:16 PM
    Author     : Tahir Ata Barry
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    margin:0px 0px 0px 0px;
    background-color: #FFF;
    color:#000;
    font-family: "Trebuchet MS",Verdana, Arial, Tahoma;
    font-size:  13px;
}
#main{
    width:950px;
    margin: auto;
}
#navigation{
    width:100%;
    background-color: #000;
}
#header{

}
#header h1{

}
#header h1 a{
    text-decoration: none;
    color: #333;
}
#content{
    width:70%;
    float:left;
}
#content h1{

}
#content h1 a{
    text-decoration: none;
    color: #333;      
}
#content h2{

}
#footer{

}
#footer ul{

}
#footer ul li{
    float:left;
    list-style: none;
    margin-left:10px;
    margin-right:10px;
    padding:0px;
}
#footer ul li a{

}
#footer ul li a:hover{
    text-decoration: none;
}
#sidebar{
    width:30%;
    float:left;
}
#sidebar ul li{
    list-style: none;
    margin:0px;
    padding:0px;
}
#sidebar ul li a{

}